opencv-python==4.7.0.72 
diffusers==0.14.0
transformers==4.30
scipy
matplotlib
scikit-image
pillow
ninja
accelerate
xformers==0.0.22
mediapipe
scikit-learn==1.4.2

fastapi
boto3==1.34.69
uvicorn
requests
python-multipart
pydantic==1.10.13
aio-pika
python-dotenv
aiopg==1.3.3
